* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.new-card-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form-new-card {
  display: flex;
  gap: 12px;
  justify-content: space-evenly;
  width: 100%;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}

@media screen and ( max-width : 679px ) {

  .form-new-card {
    align-items: center;
    flex-direction: column;
  }
}
